
h5py>=3.12.1              
keras>=3.6.0              
kymatio>=0.3.0           

matplotlib>=3.10.6        
seaborn>=0.13.2          

numpy>=2.0.1              
pandas>=2.2.3           

scikit_learn>=1.5.2       
scipy>=1.14.1             

PyYAML>=6.0.2            

torch>=2.5.0             


thop>=0.1.1.post2209072238 
tqdm>=4.66.6            